*
{
    margin: 0;padding: 0;box-sizing: border-box;
}



#projects {
    margin-bottom: 50px;
    margin-top: 150px;
    height: auto;
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  .project_box {
    /* width: 100vw;
    height: auto;    */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* box-shadow: 5px 2px 2px 5px gray; */
  }
  #projects > .section_info {
    color: #549130;
  }
  .first {
    /* width: 33.33vw; */
    flex-basis: 33%;
    height: auto;
    background-color: lightblue;
    margin-right: 10px;
    margin-left: 10px;
    flex-wrap: wrap;
    /* box-shadow: 5px 2px 2px 5px gray; */
  }
  .first h1 {
    margin: 20px;
  }
  .first h3 {
    margin: 20px;
  }
  .first p {
    margin: 20px;
  }
  .second {
    /* width: 33.33vw; */
    flex-basis: 33%;
    height: 37vh;
    /* height: 30vh; */
    background-color: lightblue;
    margin-right: 10px;
    /* box-shadow: 5px 2px 2px 5px gray; */
    flex-wrap: wrap;
  }
  .second h1 {
    margin: 20px;
  }
  .second h3 {
    margin: 20px;
  }
  .second p {
    margin: 20px;
  }
  .third {
    /* width: 33.33vw; */
    flex-basis: 33%;
    height: 37vh;
    background-color: lightblue;
    margin-right: 10px;
    /* box-shadow: 5px 2px 2px 5px gray; */
    flex-wrap: wrap;
  }
  .third h1 {
    margin: 20px;
  }
  .third h3 {
    margin: 20px;
  }
  .third p {
    margin: 20px;
  }


  
  .first span a
  {
    text-decoration: none;
  }
  .second span a
  {
    text-decoration: none;
  }
  .third span a
  {
    text-decoration: none;
  }
  span
  {
    margin: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
 
  }
  span a:hover
  {
    color: rgb(158, 78, 78);
  }



/* responsive design; */


@media only screen and (max-width: 770px)
{
    #projects {
        flex-wrap: wrap;
      }
      .first {
        margin: 0;
        box-shadow: 2px 3px 0px 5px gray;
      }
      .second {
        margin: 0;
        box-shadow: 2px 3px 0px 5px gray;
      }
      .third {
        margin: 0;
        box-shadow: 2px 3px 0px 5px gray;
      }
      .project_box {
        display: grid;
        row-gap: 20px;
        margin: 20px;
    
        padding: 40px;
      }
}